.types{
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 24px;

  @include media-sm{
    gap: 16px;
    justify-content: center;
  }

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 220px;
    width: 100%;
    text-align: center;

    @include media-sm{
      max-width: 156px;
    }

    &-image{
      width: 112px;
      height: 112px;
      object-fit: contain;
      border: 1px solid $neutral20;
      border-radius: 100%;
      transition: 0.2s;
    }

    &:hover > &-image{
      transform: scale(1.3);
    }
  }
}