<div class="types">
    <a href="/" class="types__item">
        <img src="/img/t1.png" alt="" class="types__item-image">
        Однорядные радиальные подшипники
    </a>
    <a href="/" class="types__item">
        <img src="/img/t2.png" alt="" class="types__item-image">
        Радиально упорные подшипники
    </a>
    <a href="/" class="types__item">
        <img src="/img/t1.png" alt="" class="types__item-image">
        Двехрядные подшипиниик
    </a>
    <a href="/" class="types__item">
        <img src="/img/t3.png" alt="" class="types__item-image">
        Упорные шариковые подшипники
    </a>
    <a href="/" class="types__item">
        <img src="/img/t4.png" alt="" class="types__item-image">
        Упорные шариковые подшипники
    </a>
    <a href="/" class="types__item">
        <img src="/img/t5.png" alt="" class="types__item-image">
        Сферические подшипники
    </a>
    <a href="/" class="types__item">
        <img src="/img/t5.png" alt="" class="types__item-image">
        Однорядные радиальные подшипники
    </a>
    <a href="/" class="types__item">
        <img src="/img/t1.png" alt="" class="types__item-image">
        Однорядные радиальные подшипники
    </a>
    <a href="/" class="types__item">
        <img src="/img/t3.png" alt="" class="types__item-image">
        Радиально упорные подшипники
    </a>
    <a href="/" class="types__item">
        <img src="/img/t6.png" alt="" class="types__item-image">
        Радиально упорные подшипники
    </a>
    <a href="/" class="types__item">
        <img src="/img/t5.png" alt="" class="types__item-image">
        Сферические подшипники
    </a>
    <a href="/" class="types__item">
        <img src="/img/t3.png" alt="" class="types__item-image">
        Сферические подшипники
    </a>
</div>