.bearings{
  max-width: 1440px;
  margin: 88px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  @include media-xxl{
    max-width: calc(100% - 40px);
  }

  @include media-sm{
    padding: 0 16px;
    margin: 56px auto;
    gap: 32px;
  }

  &__title{
    position: relative;

    @include media-sm{
      padding-left: 16px;
    }

    &:before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: $primary20;
      top: 0;
      left: -11px;
      z-index: -1;

      @include media-sm{
        left: 5px;
      }
    }
  }
}