.news{
  display: flex;
  align-items: stretch;
  gap: 24px;

  @include media-xxl{
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media-sm{
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: auto;
  }

  &__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    max-width: 269px;

    @include media-sm{
      max-width: 156px;

      &:last-child{
        display: none;
      }
    }

    &-image{
      width: 269px;
      height: 162px;
      object-fit: contain;

      @include media-sm{
        width: 156px;
        height: 162px;
        object-fit: cover;
      }
    }

    &-text{
      display: flex;
      flex-direction: column;
      gap: 6px;
      align-items: flex-start;

      &--date{
        font-size: 15px;
        line-height: 18px;
        color: #8C8C8C;
      }

      &--name{
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        color: black;
      }
    }
  }
}