<div class="news">
    <a href="/" class="news__item">
        <img src="img/n1.webp" alt="" class="news__item-image">
        <div class="news__item-text">
            <p class="news__item-text--date">21.10.2022</p>
            <p class="news__item-text--name">Поступление новых товаров</p>
        </div>
    </a>
    <a href="/" class="news__item">
        <img src="img/n2.webp" alt="" class="news__item-image">
        <div class="news__item-text">
            <p class="news__item-text--date">21.10.2022</p>
            <p class="news__item-text--name">Акционный каталог пополнен</p>
        </div>
    </a>
    <a href="/" class="news__item">
        <img src="img/n3.webp" alt="" class="news__item-image">
        <div class="news__item-text">
            <p class="news__item-text--date">21.10.2022</p>
            <p class="news__item-text--name">Поступление новых товаров</p>
        </div>
    </a>
    <a href="/" class="news__item">
        <img src="img/n4.webp" alt="" class="news__item-image">
        <div class="news__item-text">
            <p class="news__item-text--date">21.10.2022</p>
            <p class="news__item-text--name">Поступление новых товаров</p>
        </div>
    </a>
    <a href="/" class="news__item">
        <img src="img/n5.webp" alt="" class="news__item-image">
        <div class="news__item-text">
            <p class="news__item-text--date">21.10.2022</p>
            <p class="news__item-text--name">Поступление новых товаров</p>
        </div>
    </a>
</div>