.main{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__top{
    display: flex;
    align-items: stretch;
    gap: 0;

    &-image{
      width: 100%;
      max-width: 1158px;

      @include media-sm{
        min-height: 480px;
        object-fit: cover;
      }
    }
  }
}