<section class="main">
    <div class="main__top">
        @@include('../../../components/bem-blocks/minicatalog/_minicatalog.html')
        <div class="swiper main__top-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/main.webp" alt="" class="main__top-image">
                    <h2 class="main__top-title">Доставка по всей России</h2>
                </div>
                <div class="swiper-slide">
                    <img src="img/main.webp" alt="" class="main__top-image">
                    <h2 class="main__top-title">Разработка и производство по чертежам</h2>
                </div>
            </div>
            <button class="main__top-nav prev">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-left"></use>
                </svg>
            </button>
            <button class="main__top-nav next">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
    @@include('../../../components/bem-blocks/pluses/_pluses.html')
</section>