<div class="pluses">
    <div class="pluses__item">
        <svg>
            <use xlink:href="/img/sprite.svg#people"></use>
        </svg>
        <p class="pluses__item-text">Индивидуальный подход</p>
    </div>
    <div class="pluses__item">
        <svg>
            <use xlink:href="/img/sprite.svg#people"></use>
        </svg>
        <p class="pluses__item-text">Выгодные цены</p>
    </div>
    <div class="pluses__item">
        <svg>
            <use xlink:href="/img/sprite.svg#people"></use>
        </svg>
        <p class="pluses__item-text">Качественный товар</p>
    </div>
    <div class="pluses__item">
        <svg>
            <use xlink:href="/img/sprite.svg#people"></use>
        </svg>
        <p class="pluses__item-text">Широкий ассортимент</p>
    </div>
</div>