.pluses{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 32px;

  @include media-xxl{
    max-width: calc(100% - 40px);
    margin: auto;
  }

  @include media-sm{
    display: none;
  }

  &__item{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;

    svg{
      width: 26px;
      height: 26px;
      background: $primary5;
      border-radius: 100%;
      padding: 20px;
    }

    &-text{
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}