<div class="sub">
    <div class="sub__head">
        <svg class="sub__head-icon">
            <use xlink:href="/img/sprite.svg#catalog"></use>
        </svg>
        <p class="sub__head-name">Каталог</p>
    </div>
    <div class="sub__list">
        <a href="/" class="sub__list-item">Подшипники генератора</a>
        <a href="/" class="sub__list-item">Подшипники skif</a>
        <a href="/" class="sub__list-item">Шариковые подшипники</a>
        <a href="/" class="sub__list-item">Подшипники качения</a>
        <a href="/" class="sub__list-item">Подшипники скольжения</a>
        <a href="/" class="sub__list-item">Подшипники для редуктора</a>
        <a href="/" class="sub__list-item">Подшипники для редуктора</a>
        <a href="/" class="sub__list-item">Подшипники для редуктора</a>
        <a href="/" class="sub__list-item">Упорные подшипники</a>
    </div>
    <div class="sub__hidden">
        <a href="/" class="sub__list-item">Подшипники генератора</a>
        <a href="/" class="sub__list-item">Подшипники skif</a>
        <a href="/" class="sub__list-item">Шариковые подшипники</a>
        <a href="/" class="sub__list-item">Подшипники качения</a>
        <a href="/" class="sub__list-item">Подшипники скольжения</a>
        <a href="/" class="sub__list-item">Подшипники для редуктора</a>
        <a href="/" class="sub__list-item">Подшипники для редуктора</a>
        <a href="/" class="sub__list-item">Подшипники для редуктора</a>
        <a href="/" class="sub__list-item">Упорные подшипники</a>
        <button class="sub__hidden-open">
            <svg>
                <use xlink:href="/img/sprite.svg#arrow-down"></use>
            </svg>
            <span class="first">Смотреть все</span>
            <span class="second">Скрыть</span>
            <svg>
                <use xlink:href="/img/sprite.svg#arrow-down"></use>
            </svg>
        </button>
    </div>
</div>