extends _layouts/default

block config
  - var pagetitle = "Index"
  //- not recommended
  - var bodyClass = ''

block head
  link(href=require('../scss/app.scss') rel='stylesheet')

block content
  .container
    .block
      ul.demo-menu
        li
          a(href="other-page.html") Other Page
        li
          span.link.js-scroll(data-scroll="#scroll") Scroll
    .block._mb-none.demo-block
      pre .block._mb-none
    .block.demo-block
      pre .block
    .block
      span.text-muted .text-muted
      |
      span.text-nowrap .text-nowrap
      |
      span.text-uppercase .text-uppercase
      |
      span.color-primary .color-primary
      |
      span.color-secondary .color-secondary
      |
      a(href="#") a
      |
      span.link .link
      |
      br
      span.demo-font font-family-alt
    .block
      pre i.icon._{name}
      span(style="font-size:2rem")
        i.icon._facebook
        i.icon._twitter
        i.icon._instagram
        i.icon._vk
        i.icon._ok
        i.icon._youtube
        i.icon._telegram
        i.icon._tiktok
    .block
      pre +svgsprite("{name}"", "{title}"")
      +svgsprite("wikipedia", 'wikipedia')
      +svgsprite("track", 'track')
    #scroll.block
      pre div.rte
      .rte
        h3 Title H3
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas iaculis nisl, in fermentum urna scelerisque nec. Mauris enim erat, bibendum sed condimentum at, ultrices non arcu. Morbi eu sem porttitor, vulputate justo ut, fringilla turpis. Donec in elementum nunc. Cras maximus faucibus dictum. Duis sodales lacus ut eros sollicitudin tristique. Duis vitae tincidunt sem, eget ullamcorper turpis. Maecenas tristique eget leo sed sodales.
        ul
          li One
          li Two
          li Three
          li Four
        p Vivamus risus erat, dictum vel facilisis non, consectetur id eros. Mauris pretium libero libero, quis malesuada ante eleifend nec. Vivamus massa lorem, tempus non nibh in, egestas facilisis augue. Vestibulum eleifend erat ante, et interdum lacus posuere sodales. Nam elementum dignissim nisi et pretium. Nunc tristique ipsum purus, ut rutrum leo vestibulum a. Praesent fringilla arcu orci, at faucibus ante convallis a.
        p
          img(src="assets/img/lena.webp" loading="lazy" alt="")
          img(src="assets/img/transparency.webp" loading="lazy" alt="")
          img(src="assets/img/lena.jpg" loading="lazy" alt="")
          img(src="assets/img/transparency.png" loading="lazy" alt="")
          img(src="assets/img/logo.svg" loading="lazy" alt="")
        ol
          li One
          li Two
          li Three
          li Four
        p Praesent accumsan ipsum a semper luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam a ex turpis. Vivamus vulputate dapibus quam, non iaculis lacus feugiat in. Nullam nec erat in orci ultricies convallis ut et nunc. Nunc risus nisl, dignissim vel ipsum sed, viverra tempus lacus. Nam ut justo at nulla fringilla finibus. Mauris vulputate mauris sit amet cursus imperdiet. Aenean finibus mattis tortor, et rhoncus risus pharetra sit amet.
        p Praesent accumsan ipsum a semper luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam a ex turpis. Vivamus vulputate dapibus quam, non iaculis lacus feugiat in. Nullam nec erat in orci ultricies convallis ut et nunc. Nunc risus nisl, dignissim vel ipsum sed, viverra tempus lacus. Nam ut justo at nulla fringilla finibus. Mauris vulputate mauris sit amet cursus imperdiet. Aenean finibus mattis tortor, et rhoncus risus pharetra sit amet.
        p Praesent accumsan ipsum a semper luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam a ex turpis. Vivamus vulputate dapibus quam, non iaculis lacus feugiat in. Nullam nec erat in orci ultricies convallis ut et nunc. Nunc risus nisl, dignissim vel ipsum sed, viverra tempus lacus. Nam ut justo at nulla fringilla finibus. Mauris vulputate mauris sit amet cursus imperdiet. Aenean finibus mattis tortor, et rhoncus risus pharetra sit amet.
        p Praesent accumsan ipsum a semper luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam a ex turpis. Vivamus vulputate dapibus quam, non iaculis lacus feugiat in. Nullam nec erat in orci ultricies convallis ut et nunc. Nunc risus nisl, dignissim vel ipsum sed, viverra tempus lacus. Nam ut justo at nulla fringilla finibus. Mauris vulputate mauris sit amet cursus imperdiet. Aenean finibus mattis tortor, et rhoncus risus pharetra sit amet.
