.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  border-bottom: 1px solid #D4D4D4;
  padding: 16px 0;
  z-index: 2;

  @include media-sm{
    padding: 12px 16px;
    box-sizing: border-box;
  }

  .container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-xxl{
      max-width: calc(100% - 40px);
    }

    .logo{
      width: 95px;
      height: 49px;

      @include media-sm{
        width: 67px;
        height: 35px;
      }

      &__icon{
        width: 95px;
        height: 49px;

        @include media-sm{
          width: 67px;
          height: 35px;
        }
      }
    }

    .search{
      width: 100%;
      max-width: 368px;
      outline: 1px solid $neutral30;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 16px;
      box-sizing: border-box;

      &__input{
        width: 100%;
        box-sizing: border-box;
        padding: 13px 16px;
      }

      &__button{
        svg{
          width: 24px;
          height: 24px;
          fill: none;
          stroke: $neutral60;
        }
      }
    }

    .nav{
      display: flex;
      align-items: center;
      gap: 26px;

      &__item{
        font-size: 15px;
        line-height: 18px;

        &:hover{
          color: $primary40;
        }
      }

      @include media-sm{
        position: fixed;
        width: 100%;
        height: calc(100% - 67px);
        background: white;
        left: -100%;
        top: 67px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        box-sizing: border-box;
        padding: 16px;
        min-width: 360px;
        transition: 0.3s;
      }

      .contacts{
        display: none;
        align-items: center;
        gap: 32px;
        margin-top: auto;

        @include media-sm{
          display: flex;
          align-self: center;
        }

        &__item{
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 16px;
          line-height: 19px;

          @include media-sm{
            font-size: 15px;
            line-height: 18px;
            white-space: nowrap;
          }

          &:hover{
            color: $primary40;

            & svg{
              fill: $primary40;
            }
          }

          &-icon{
            width: 24px;
            height: 24px;
            fill: $neutral70;
            transition: 0.2s;
          }
        }
      }

      .socials{
        display: none;
        align-items: stretch;
        align-self: center;
        gap: 8px;

        @include media-sm{
          display: flex;
        }

        &__item{
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;

          &.vk:hover svg{
            fill: #4C75A3;
          }

          &.wa:hover svg{
            fill: #43d854;
          }

          &.telegram:hover svg{
            fill: #0088CC;
          }

          &-icon{
            width: 32px;
            height: 32px;
            fill: #A7A7A7;
            transition: 0.2s;
          }
        }
      }

      .sub__head{
        justify-content: center;
        display: none;

        @include media-sm{
          display: flex;
        }
      }

      &.active{
        left: 0;
      }
    }

    .phone{
      @include media-sm{
        background: none;
        padding: 0;
        font-weight: 700;

        svg{
          display: none;
        }
      }
    }
  }
}