<section class="about">
    <img src="/img/about.webp" alt="" class="about__image">
    <div class="about__text">
        <h2 class="about__text-title">О нас</h2>
        <p class="about__text-description">Наша компания продает подшипники высокого качества и по разумной цене со склада и под заказ. У нас в наличии всегда несколько десятков тысяч импортных подшипников от разных производителей. Наш опыт продаж подшипников в России уже более 15 лет и мы очень многое знаем о подшипниках</p>
    </div>
</section>