<footer class="footer">
    <div class="container">
        <nav class="nav">
            <a href="/" class="nav__item">Бренды</a>
            <a href="/" class="nav__item">Оптовым покупателям</a>
            <a href="/" class="nav__item">События</a>
            <a href="/" class="nav__item">Фотогалерея</a>
            <a href="/" class="nav__item">О компании</a>
            <a href="/" class="nav__item">Контакты</a>
        </nav>
        <div class="contacts">
            <a href="tel: +7 789 456 325 89" class="contacts__item">
                <svg class="contacts__item-icon">
                    <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                +7 789 456 325 89
            </a>
            <a href="mailto: info@gmail.com" class="contacts__item">
                <svg class="contacts__item-icon">
                    <use xlink:href="img/sprite.svg#mail"></use>
                </svg>
                info@gmail.com
            </a>
        </div>
        <div class="socials">
            <a href="" class="socials__item vk">
                <svg class="socials__item-icon">
                    <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
            </a>
            <a href="" class="socials__item wa">
                <svg class="socials__item-icon">
                    <use xlink:href="img/sprite.svg#wa"></use>
                </svg>
            </a>
            <a href="" class="socials__item telegram">
                <svg class="socials__item-icon">
                    <use xlink:href="img/sprite.svg#telegram"></use>
                </svg>
            </a>
        </div>
        @@include('../../components/bem-blocks/intrid/_intrid.html')
    </div>
</footer>
