.footer{
  background: #FAFBFC;
  margin-top: auto;
  box-sizing: border-box;
  padding: 21px 0;

  @include media-sm{
    padding: 21px 0 92px;
  }

  & .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    max-width: 1440px;
    margin: 0 auto;

    @include media-xxl{
      max-width: calc(100% - 40px);
      flex-wrap: wrap;
    }

    @include media-sm{
      padding: 0 16px;
      flex-wrap: wrap;
      gap: 32px;
    }

    .nav{
      display: flex;
      align-items: center;
      gap: 26px;

      @include media-sm{
        flex-wrap: wrap;
        gap: 16px;
      }

      &__item{
        font-size: 15px;
        line-height: 18px;

        &:hover{
          color: $primary40;
        }
      }
    }

    .contacts{
      display: flex;
      align-items: center;
      gap: 32px;

      &__item{
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        line-height: 19px;

        @include media-sm{
          font-size: 15px;
          line-height: 18px;
          white-space: nowrap;
        }

        &:hover{
          color: $primary40;

          & svg{
            fill: $primary40;
          }
        }

        &-icon{
          width: 24px;
          height: 24px;
          fill: $neutral70;
          transition: 0.2s;
        }
      }
    }

    .socials{
      display: flex;
      align-items: stretch;
      gap: 8px;

      &__item{
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.vk:hover svg{
          fill: #4C75A3;
        }

        &.wa:hover svg{
          fill: #43d854;
        }

        &.telegram:hover svg{
          fill: #0088CC;
        }

        &-icon{
          width: 32px;
          height: 32px;
          fill: #A7A7A7;
          transition: 0.2s;
        }
      }
    }
  }
}