<section class="tabs">
  <div class="tabs__buttons">
    <button class="tabs__buttons-item active">Товары категории</button>
    <button class="tabs__buttons-item">Описание</button>
    <button class="tabs__buttons-item">Прикреплённые файлы</button>
    <button class="tabs__buttons-item">Видеообзор</button>
  </div>
  <div class="tabs__field">
    <div class="tabs__field-item active">

    </div>
    <div class="tabs__field-item">

    </div>
    <div class="tabs__field-item">

    </div>
    <div class="tabs__field-item">

    </div>
  </div>
</section>