<section class="tabs">
  <div class="tabs__buttons">
    <button class="tabs__buttons-item active">Товары категории</button>
    <button class="tabs__buttons-item">Описание</button>
    <button class="tabs__buttons-item">Прикреплённые файлы</button>
    <button class="tabs__buttons-item">Видеообзор</button>
  </div>
  <div class="tabs__field">
    <div class="tabs__field-item active">
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>Название</th>
              <th>Внутренний диаметр, d</th>
              <th>Наружный диаметр, D</th>
              <th>Ширина/выота, h</th>
              <th>Бренд</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>55 мм</td>
              <td>147600 мм</td>
              <td>25 мм</td>
              <td>FKD</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>664 мм</td>
              <td>45 мм</td>
              <td>63 мм</td>
              <td>IBU-IBB</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>55 мм</td>
              <td>147600 мм</td>
              <td>25 мм</td>
              <td>FKD</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>664 мм</td>
              <td>45 мм</td>
              <td>63 мм</td>
              <td>IBU-IBB</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>55 мм</td>
              <td>147600 мм</td>
              <td>25 мм</td>
              <td>FKD</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>664 мм</td>
              <td>45 мм</td>
              <td>63 мм</td>
              <td>IBU-IBB</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>55 мм</td>
              <td>147600 мм</td>
              <td>25 мм</td>
              <td>FKD</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>664 мм</td>
              <td>45 мм</td>
              <td>63 мм</td>
              <td>IBU-IBB</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>55 мм</td>
              <td>147600 мм</td>
              <td>25 мм</td>
              <td>FKD</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>664 мм</td>
              <td>45 мм</td>
              <td>63 мм</td>
              <td>IBU-IBB</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>55 мм</td>
              <td>147600 мм</td>
              <td>25 мм</td>
              <td>FKD</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>664 мм</td>
              <td>45 мм</td>
              <td>63 мм</td>
              <td>IBU-IBB</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>55 мм</td>
              <td>147600 мм</td>
              <td>25 мм</td>
              <td>FKD</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>664 мм</td>
              <td>45 мм</td>
              <td>63 мм</td>
              <td>IBU-IBB</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>55 мм</td>
              <td>147600 мм</td>
              <td>25 мм</td>
              <td>FKD</td>
            </tr>
            <tr>
              <td>Радиальный шарикоподшипник с уплотнениями 6000-2RSH</td>
              <td>664 мм</td>
              <td>45 мм</td>
              <td>63 мм</td>
              <td>IBU-IBB</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tabs__field-item">
      <div class="description">
        <p>Стоимость продукции рассчитывается индивидуально, исходя из объема, условий заказа. Чтобы узнать окончательную цену, необходимо оставить заявку.Наличие на складе носит справочный характер и может изменяться (реализация, поступление). Мы работаем более чем с 500 складами по всей России и стараемся поддерживать данную информацию в актуальном состоян Стоимость продукции рассчитывается индивидуально, исходя из объема, условий заказа. Чтобы узнать окончательную цену, необходимо оставить заявку.Наличие на складе носит справочный характер и может изменяться (реализация, поступление). Мы работаем более чем с 500 складами по всей России и стараемся поддерживать данную информацию в актуальном состоян</p>
        <p>Стоимость продукции рассчитывается индивидуально, исходя из объема, условий заказа. Чтобы узнать окончательную цену, необходимо оставить заявку.Наличие на складе носит справочный характер и может изменяться (реализация, поступление). Мы работаем более чем с 500 складами по всей России и стараемся поддерживать данную информацию в актуальном состоян Стоимость продукции рассчитывается индивидуально, исходя из объема, условий заказа. Чтобы узнать окончательную цену, необходимо оставить заявку.Наличие на складе носит справочный характер и может изменяться (реализация, поступление). Мы работаем более чем с 500 складами по всей России и стараемся поддерживать данную информацию в актуальном состоян</p>
      </div>
    </div>
    <div class="tabs__field-item">
      <div class="documents">
        <a href="/" class="documents__item">
          <svg>
            <use xlink:href="img/sprite.svg#pdf"></use>
          </svg>
          view.pdf
        </a>
        <a href="/" class="documents__item">
          <svg>
            <use xlink:href="img/sprite.svg#doc"></use>
          </svg>
          Товары категории.doc
        </a>
      </div>
    </div>
    <div class="tabs__field-item">
      <div class="video">
        <a href="/" class="video__item">

        </a>
      </div>
    </div>
  </div>
</section>