.button{
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 20px;
  height: 42px;

  svg{
    width: 24px;
    height: 24px;
  }

  &--blue{
    background: $primary50;
    color: white;

    &:hover{
      background: $primary40;
    }

    &:active{
      background: $primary60;
    }

    svg{
      fill: white;
    }
  }

  &--outline{
    outline: 1px solid $primary50;
    color: $primary50;

    &:hover{
      background: $primary5;
      outline-color: $primary40;
    }

    &:active{
      background: $primary5;
      outline-color: $primary60;
    }

    svg{
      fill: $primary50;
    }
  }

  &--light{
    color: $primary50;
    background: $primary5;

    &:hover{
      background: $primary20;
    }

    &:active{
      background: $primary20;
      color: $primary60;
    }

    svg{
      fill: $primary50;
    }
  }
}