@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

h1{
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
}
h2{
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}