.crumbs{
  display: flex;
  align-items: center;
  gap: 9px;
  max-width: 1440px;
  margin: 24px auto;

  @include media-xxl{
    max-width: calc(100% - 40px);
  }

  @include media-sm{
    max-width: calc(100% - 32px);
    flex-wrap: wrap;
    gap: 5px;
  }

  &__item{
    font-size: 15px;
    line-height: 18px;
    color: $neutral70;
    display: flex;
    align-items: center;
    gap: 6px;

    &:not(:last-child):after{
      content: '/';
    }

    &:not(:last-child):hover{
      color: $primary40;
    }
  }

  p.crumbs__item{
    color: $neutral50;
  }
}