.photo{
  display: flex;
  align-items: center;
  gap: 23px;

  @include media-sm{
    margin: 0 auto;
    width: 100%;
  }

  &__left{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    @include media-sm{
      display: none;
    }

    &-slider{
      max-width: 89px;
      height: 400px;

      &_item{
        width: 89px;
        height: 72px;
        object-fit: contain;
        cursor: pointer;
      }
    }

    &-nav{
      width: 24px;
      height: 24px;

      svg{
        width: 24px;
        height: 24px;
      }
    }
  }

  &__right{
    width: 404px;
    height: 388px;

    @include media-sm{
      width: 100%;
      max-width: 500px;
      max-height: 300px;
      object-fit: contain;
    }

    &-slider{
      position: relative;

      &_item{
        width: 100%;
        max-width: 500px;
        max-height: 300px;
        object-fit: contain;
      }

      &_nav{
        display: none;

        @include media-sm{
          display: block;
          width: 24px;
          height: 24px;
          position: absolute;
          top: 150px;
          z-index: 2;

          svg{
            width: 24px;
            height: 24px;
          }

          &.prev{
            left: 0;
          }

          &.next{
            right: 0;
          }
        }
      }
    }
  }
}