<div class="photo">
    <div class="photo__left">
        <button class="photo__left-nav prev">
            <svg>
                <use xlink:href="img/sprite.svg#arrow-top"></use>
            </svg>
        </button>
        <div class="photo__left-slider swiper">
            <div class="swiper-wrapper">
                <img src="img/pr1.png" alt="" class="photo__left-slider_item swiper-slide">
                <img src="img/pr2.png" alt="" class="photo__left-slider_item swiper-slide">
                <img src="img/pr3.png" alt="" class="photo__left-slider_item swiper-slide">
                <img src="img/pr4.png" alt="" class="photo__left-slider_item swiper-slide">
                <img src="img/pr5.png" alt="" class="photo__left-slider_item swiper-slide">
                <img src="img/pr1.png" alt="" class="photo__left-slider_item swiper-slide">
                <img src="img/pr2.png" alt="" class="photo__left-slider_item swiper-slide">
                <img src="img/pr3.png" alt="" class="photo__left-slider_item swiper-slide">
                <img src="img/pr4.png" alt="" class="photo__left-slider_item swiper-slide">
                <img src="img/pr5.png" alt="" class="photo__left-slider_item swiper-slide">
            </div>
        </div>
        <button class="photo__left-nav next">
            <svg>
                <use xlink:href="img/sprite.svg#arrow-down"></use>
            </svg>
        </button>
    </div>
    <div class="photo__right">
        <div class="photo__right-slider swiper">
            <div class="swiper-wrapper">
                <img src="img/pr1.png" alt="" class="photo__right-slider_item swiper-slide">
                <img src="img/pr2.png" alt="" class="photo__right-slider_item swiper-slide">
                <img src="img/pr3.png" alt="" class="photo__right-slider_item swiper-slide">
                <img src="img/pr4.png" alt="" class="photo__right-slider_item swiper-slide">
                <img src="img/pr5.png" alt="" class="photo__right-slider_item swiper-slide">
            </div>
            <button class="photo__right-slider_nav prev">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-left"></use>
                </svg>
            </button>
            <button class="photo__right-slider_nav next">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</div>