<div class="info">
  <div class="info__top">
    <h1 class="info__top-title">Радиальный шарикоподшипник с уплотнениями 6000-2RSH</h1>
    <p class="info__top-article"><span class="info__top-article_name">Артикул: </span>1F9914</p>
  </div>
  <div class="chars">
    <div class="chars__item">
      <p class="chars__item-name">Внутренний диаметр (d):</p>
      <p class="chars__item-value">55 мм — 100 мм</p>
    </div>
    <div class="chars__item">
      <p class="chars__item-name">Наружный диаметр (В):</p>
      <p class="chars__item-value">100 мм — 150 мм</p>
    </div>
    <div class="chars__item">
      <p class="chars__item-name">Ширина / Высота (h):</p>
      <p class="chars__item-value">21 мм — 50 мм</p>
    </div>
  </div>
  <ul class="info__pluses">
    <li class="info__pluses-item">Поставки любой сложности </li>
    <li class="info__pluses-item">Доставка по всей России</li>
    <li class="info__pluses-item">Разработка и производство по чертежам</li>
  </ul>
</div>